body {
  background-image: radial-gradient(circle at center, #ffffff, #e5e5e5);
}
main {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 60px;
  padding-bottom: 30px;
}
nav .container-fluid .navbar-brand,
main .intro-container h1 {
  color: map-get($colours, pink);
}
.nav-tabs button,
.accordion .accordion-item .accordion-header button {
  padding: 20px 20px;
  color: map-get($colours, pink);
}
.intro-container {
  padding: 0;
}
.navbar {
  background-color: map-get($colours, light-gray);
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
  position: fixed !important;
  width: 100%;
  z-index: 100;
}
.navbar .active {
  border-radius: 3px;
  background: white;
}
header .slide .carousel-indicators button {
  height: 30px;
  width: 30px;
  opacity: unset;
  background-color: white;
}
header .slide .carousel-indicators .active,
.d-flex .btn-outline-success {
  background-color: map-get($colours, pink);
}
.carousel,
.carousel img {
  min-height: 300px;
}
.d-flex .btn-outline-success {
  border: none;
  color: white;
}
.tab-content,
.accordion .accordion-item .accordion-header button {
  background-color: white;
}
.tab-content .active {
  display: inline-flex !important;
  flex: 1 auto;
  padding: 2rem;
}
.tab-content__text {
  padding: 2rem;
}
.tab-content__text a,
.accordion-body a {
  text-decoration: none;
  color: black;
}
.accordion-body {
  text-align: center;
}
.footer-container {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  color: map-get($colours, footerLinks) !important;

  @media only screen and (max-width: 768px) {
    display: block;
    flex-direction: row;
    justify-content: space-between;

    .footer-container__icons {
      display: block;
      text-align: center;
      font-size: 25px;
    }
    .footer-container__end {
      position: absolute;
      right: 5%;
    }
  }
}
footer {
  background-color: white;
}
.navbar-toggler {
  border: none !important;
  border-color: transparent;
}
.fa-facebook-f,
.fa-twitter {
  color: black;
  font-size: larger;
}
