.page-item.active .page-link {
  background-color: #E92569;
  border-color: #E92569;
  color: white !important;
}
.page-link {
  color: #E92569;
}
.container {
  margin: 0;
  margin-right: 0;
  @media only screen and (max-width: 768px) {
    padding-right: 0;
  }
}
.btn-primary {
  background: linear-gradient( 90deg,#E92569 85%, #767676 15%);
  border: #E92569;
  text-transform: uppercase;
  width: 100%;
  
}
.card {
  padding-left: 0;
  padding-right: 0;
  width: 264px;
  @media only screen and (max-width: 768px) {
    justify-content: center;
    margin: 1rem auto;
    margin-left: 0;
    margin-right: 0;
    width: 342px;
  }
}
.col-lg {
  border-radius: 15px;
}
.row {
  gap: 10px;
    
}
.pagination {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pink-header {
  padding-top: 2rem;
  color: map-get($colours, pink);
}